<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('./partials/head.ejs')  %> 
        <link rel="stylesheet" href="/css/detail.css">
        <title>Luz & Vida Homedeco</title>
    </head>

    <body>

        <% if (product) { %>
            <article>
                <picture>
                    <img src="/products/<%= product.image %>" alt="product-img">
                </picture>
                <h2><%= product.name %> <span>$<%= product.price %></span></h2>
                <nav>
                    <a href="/productos/<%= product.category %>"><%= product.category %></a>
                    <br>
                    <a href="/productos/editar/<%= product.sku %>">Editar producto</a>
                </nav>
                <form action="/productos/borrar?m=DELETE" method="post">
                    <input type="hidden" name="sku" value="<%= product.sku %>">
                    <button type="submit">Borrar</button>
                </form>
            </article>
        <% } else { %>
            <h2>
                No se encontró un producto <a href="/productos">Volver</a>
            </h2>     
        <% } %>
        <nav>
            <a href="/productos/">Volver</a>
        </nav>

    </body>

</html> 