<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('./partials/head.ejs')  %> 
        <link rel="stylesheet" href="/css/detail.css">
        <title>Luz & Vida Homedeco</title>
    </head>

    <body>
        <nav>
            <a href="/productos/">Volver</a>
        </nav>
        <form action="/productos/actualizar?m=PUT" method="post">
                <input type="hidden" name="sku" value="<%= product.sku %>">
                <fieldset>
                    <legend>Product name</legend>
                    <input type="text" name="name" id="name" value="<%= product.name %>">
                </fieldset>
                <fieldset>
                    <legend>Product price</legend>
                    <input type="text" name="price" id="price" value="<%= product.price %>">
                </fieldset>
                <fieldset>
                    <legend>Product category</legend>
                    <input type="radio" name="category" id="category-Cat1" value="Cat1"<%= product.category == 'Cat1' ? 'checked' : '' %> >
                    <label for="category-Cat1">Cat 1</label>
                    <input type="radio" name="category" id="category-Cat2" value="Cat2"<%= product.category == 'Cat2' ? 'checked' : '' %> >
                    <label for="category-Cat2">Cat 2</label>
                    <input type="radio" name="category" id="category-Cat3" value="Cat3"<%= product.category == 'Cat3' ? 'checked' : '' %> >
                    <label for="category-Cat3">Cat 3</label>
                </fieldset>
            <button type="submit">Guardar</button>
        </form>

    </body>

</html> 